<div class="container mx-auto my-8 px-4">
  <div class="bg-white rounded-lg shadow p-6">
    <h1 class="text-xl font-bold mb-6">
      <%= @user.username %>のフォロワー
    </h1>
    
    <%= render 'profiles/user_list', users: @users, type: 'followers' %>
    
    <div class="mt-6">
      <%= link_to "プロフィールに戻る", user_profile_path(@user), class: "text-blue-600 hover:text-blue-800" %>
    </div>
  </div>
</div>