<header style="background-color: #90DAF9;" class="text-white shadow-md" data-controller="hamburger">
  <div class="container mx-auto px-4 py-3 flex justify-between items-center">
    <div class="flex items-center">
      <h1 class="text-xl">
        <%= link_to root_path do %>
          <%= image_tag "header_logo.png" %>
        <% end %>
      </h1>
    </div>


    </div>
  </div>
</header>